#pasekMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;

}

#navMenu{
  min-width: 210px;
  width: 50%;
  position: fixed;
  right: 0px;
  top: 50px;
  background-color: #000;
  z-index: 5;
}


.hamburg {
  position: fixed;
  right: 15px;
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  border-radius: 25px;
}

#hambMaster {
  position: fixed;
  top:7px;
  right: 15px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  opacity: 1;
}

#hamb1{top:8px}
#hamb2{top:16px}
#hamb3{top:24px}

nav {

  ul {
    list-style-type: none;

    display: block;
    margin: 0;
	  min-width:210px;

    li{

		display: block;
		float: left;
		clear:none;
		width:100%;
		height: 0px;
		min-width:210px;
		/*color: $kolorMenuLink;*/
	 }

	/*a li:hover {
		background-color: $kolorMenuBgHov;
		color: #80ffaa;
	}*/

	 a, a:visited{
		text-decoration: none;

		font-family: sans-serif;
		font-weight: 700;
		font-style: normal;

		font-size: 24px;
		line-height: 26px;

		display: block;
		float: left;
		clear:none;
		width:100%;
		min-width:210px;


		li {
			margin: 0;
			padding: 10px 5px;
			width:100%;
			height: 40px;
			/*color: $kolorMenuLink;*/
			text-align: left;
			background-color: #000;

		  }
	 } // a, a:visited

 } // ul

} //nav
