

@media only screen and (min-width: 900px){

  #pasekMenu {
    width: auto;

  }

  #navMenu{
    width: auto;
    height: 50px;
    top: 0px;
    background-color: #fff;
  }



  #hambMaster{
    display: none;
  }



  nav {

    ul {
  	  width: auto;

      li{
  		width: auto;

  		min-width:0px;
      padding: 10px;
  		/*color: $kolorMenuLink;*/
  	 }

  	/*a li:hover {
  		background-color: $kolorMenuBgHov;
  		color: #80ffaa;
  	}*/

  	 a, a:visited{

  		width: auto;
  		min-width:0px;
      padding: 10px;

  		li {
  			height: 40px;
        padding: 0px;
  			/*color: $kolorMenuLink;*/
        background-color: #fff;
  		  }
  	 } // a, a:visited

   } // ul

  } //nav


}
